* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	color: #636363;
	font-family: Roboto, sans-serif;
	font-weight: 400;
	line-height: 1.6;
	scroll-behavior: smooth;
}

/* Start Primary */

.container {
	max-width: 1200px;
	margin: auto;
}

.box__title--primary p {
	font-size: 22px;
	font-weight: 600;
	color: #f55f8d;
	margin-bottom: 20px;
}

.box__title--primary span {
	display: block;
	color: #000;
	font-size: 70px;
	font-weight: 800;
	line-height: 1;
}

.box__desc--primary {
	margin-bottom: 24px;
}

.box__desc--primary p {
	font-size: 18px;
	margin-top: 24px;
	line-height: 1.4;
}

.box__desc--primary li {
	display: flex;
	align-items: center;
	padding: 4px 0;
	margin-top: 15px;
}

.box__desc--primary .icon__check {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-image: linear-gradient(
		to right,
		#f55f8d 0,
		#f8ae56 51%,
		#f55f8d 100%
	);
	background-size: 200%;
}

.box__desc--primary li i {
	color: #fff;
	display: inline-block;
	font-size: 24px;
}

.box__desc--primary li span {
	font-size: 20px;
	margin-left: 12px;
}

.btn__primary {
	color: #fff;
	display: inline-block;
	align-items: start;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.6;
	padding: 18px 36px;
	text-align: center;
	text-transform: uppercase;
	border: none;
	border-radius: 50px;
	background-image: linear-gradient(
		to right,
		#f55f8d 0,
		#f8ae56 51%,
		#f55f8d 100%
	);
	background-size: 200%;
	transition: all 0.5s;
	cursor: pointer;
}

.btn__primary:hover {
	background-position: right center;
}

/* End Primary */

header {
	position: absolute;
	width: 100%;
	min-height: 100px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px 0;
}

.navbar {
	display: flex;
	align-items: center;
}

.nav__list li {
	display: inline-block;
	margin-right: 30px;
}

.nav__list li a {
	color: #000;
	display: flex;
	align-items: center;
	font-size: 15px;
	font-weight: 500;
	line-height: 20px;
	text-decoration: none;
}

.nav__list li a:hover {
	color: #f55f8d;
}

.nav__list li a:hover span {
	animation: upToDown 0.3s;
}

.nav__list span {
	display: inline-block;
	transition: all 0.3s;
}

.nav__list i {
	font-size: 10px;
	line-height: 9px;
	margin-left: 4px;
}

@keyframes upToDown {
	30% {
		transform: translateY(100%);
	}

	50% {
		opacity: 0;
		transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}

.carousel {
	padding-top: 180px;
	min-height: 700px;
	background: url('../image/pic2.png');
	background-size: contain;
}

.carousel__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.carousel__img {
	margin-right: -128px;
}

.service {
	padding: 120px 0;
	background: url(../image/bg2.png) top center no-repeat;
}

.service__content {
	text-align: center;
}

.service__list {
	margin-top: 50px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.service__item {
	padding: 30px 45px;
	width: 31.5%;
	list-style: none;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.096);
	transition: all 0.5s;
}

.service__item:hover {
	transform: translateY(-20px);
}

.service__item h2 {
	margin: 15px 0;
	color: #000;
}

.service__item img {
	width: 215px;
}

.about {
	padding-bottom: 90px;
	background: url('../image/bg15.png') center no-repeat;
	background-size: contain;
}

.about__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.about__item {
	width: 50%;
	visibility: visible;
	animation-duration: 2s;
	animation-delay: 0.2s;
}

.about__img {
	display: inline-block;
	margin-left: -25%;
	width: 650px;
	height: 100%;
	overflow: hidden;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
}

.about .box__desc--primary p,
.about .box__desc--primary i,
.about .box__desc--primary li span {
	font-size: 16px;
}

.about .box__desc--primary .icon__check {
	width: 24px;
	height: 24px;
	border: 2px solid #f55f8d;
	background: #ffff;
}

.about .box__desc--primary i {
	color: #f55f8d;
}

.number {
	padding: 100px 0;
	background: url('../image/bg14.png') center / cover;
}

.number__list {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.number__item {
	width: 25%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.number__item i {
	color: #fff;
	width: 80px;
	height: 80px;
	margin-bottom: 20px;
	font-size: 40px;
	border-radius: 50%;
	text-align: center;
	line-height: 80px;
	background-size: 200%;
	background-image: linear-gradient(
		to right,
		#f55f8d 0,
		#f8ae56 51%,
		#f55f8d 100%
	);
}

.number__item p {
	color: #f55f8d;
	font-size: 65px;
	font-weight: 600;
	line-height: 1;
}

.number__item span {
	font-size: 18px;
}

.number__item .counter {
	font-size: 65px;
}

.features {
	background: url('../image/bg2.png') left / contain no-repeat;
}

.features__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.features__block {
	width: 50%;
}

.features__list li:nth-child(even) {
	margin-left: 50px;
}

.features__item {
	display: flex;
	position: relative;
	align-items: center;
	padding: 30px;
	margin-top: 30px;
	width: 550px;
	height: 150px;
	border-radius: 8px;
	box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
	background-color: #fff;
	overflow: hidden;
}

.features__item::after {
	content: '';
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%)
		left / 200%;
	transition: all 1s;
}

.features__item:hover::after {
	opacity: 1;
}

.features__item i {
	color: #f55f8d;
	font-size: 80px;
}

.features__item--desc {
	margin-left: 25px;
}

.features__item--desc h3 {
	color: #000;
	font-size: 24px;
}

.features__image {
	width: 100%;
	height: 100%;
	animation: animateShake 5s infinite;
	transition: all 1s;
}

.features__image img {
	width: 100%;
	height: 100%;
}

.features__item:hover i,
.features__item:hover div,
.features__item:hover h3 {
	color: #fff;
	transition: all 1s;
	z-index: 1;
}

@keyframes animateShake {
	0% {
		transform: rotate(1deg) translate(2px, 2px);
	}

	50% {
		transform: rotate(-1deg) translate(-2px, -2px);
	}

	100% {
		transform: rotate(1deg) translate(2px, 2px);
	}
}

.portfolio__content {
	padding: 120px 0;
}

.portfolio__content .box__title--primary {
	text-align: center;
}

.portfolio__list {
	margin-top: 45px;
	display: grid;
	grid-template-columns: repeat(2, 1fr) 1.5fr;
	gap: 35px;
	list-style: none;
}

.portfolio__item {
	position: relative;
	border-radius: 12px;
	overflow: hidden;
}

.portfolio__item img {
	width: 100%;
	height: 100%;
}

.item_1 {
	grid-column: 1 / span 2;
}

.item_5 {
	grid-column: 1 / span 2;
}

.item_6 {
	grid-column: 3/4;
	grid-row: 2/4;
}

.portfolio__item::before {
	content: '';
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: -100%;
	display: block;
	background: linear-gradient(
		to right,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.3) 100%
	);
	transform: skewX(-30deg);
	transition: all 0.75s;
}

.portfolio__item:hover::before {
	left: 125%;
}

.portfolio__item:hover .portfolio__overlay,
.portfolio__item:hover .overlay__icon,
.portfolio__item:hover .overlay__desc {
	transform: translate(0px);
	opacity: 1;
	transition: all 0.75s;
}

.portfolio__overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.32);
	opacity: 0;
}

.overlay__icon {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 20px;
	right: 20px;
	width: 52px;
	height: 52px;
	z-index: 10;
	border-radius: 12px;
	transform: translateX(20px) translateY(-20px);
	transition: all 0.75s;
	background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%)
		left / 200%;
	opacity: 0;
}

.overlay__icon i {
	color: #fff;
	font-size: 28px;
}

.overlay__desc {
	position: absolute;
	bottom: 30px;
	left: 30px;
	text-align: left;
	transform: translateY(150px);
	transition: all 0.75s;
	opacity: 0;
}

.overlay__desc h3 {
	font-size: 22px;
	font-weight: 800;
	color: #fff;
}

.overlay__desc p {
	color: #f8f8f896;
}

.plan {
	background: url('../image/bg16.png') center center / cover;
}

.plan__content {
	text-align: center;
}

.plan__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	margin-top: 40px;
}

.plan__item {
	padding: 35px 60px;
	border: 3px solid transparent;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
	border-image: 100 round;
	transition: all 0.5s;
}

.plan__item:hover {
	border-image: url(../image/br.png) 1 round;
}

.plan__item h3 {
	font-weight: 700;
	color: #262626;
	font-size: 2rem;
}

.plan__item img {
	width: 125px;
}

.plan__item p {
	color: #000;
	font-size: 20px;
	font-weight: 700;
}

.plan__item span {
	color: #f8ae56;
	font-size: 50px;
	font-weight: 800;
}

.plan__item ul {
	text-align-last: left;
	list-style: none;
	margin-top: 16px;
	padding: 14px 0;
	border-top: 1px solid #e1e1f0;
}

.plan__item li {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	color: #000;
	font-size: 18px;
}

.plan__icon--check {
	display: inline-block;
	position: relative;
	width: 28px;
	height: 28px;
	margin-right: 12px;
	border-radius: 50%;
	background-color: #feeff3;
}

.plan__icon--check i {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	color: #f5648d;
	font-size: 12px;
	line-height: 28px;
}

/*  */

.testimonial {
	background: url('../image/bg17.png') center / 100% no-repeat;
}
.testimonial-content {
	text-align: center;
	padding: 100px 0;
	overflow: hidden;
}

.testimonial-thumbs {
	position: relative;
	width: 300px;
	margin: auto;
	box-sizing: border-box;
	height: 200px;
	overflow: hidden;
}

.testimonial-thumbs .testimonial-pic img {
	width: 80px;
	height: 80px;
	border-radius: 100%;
	padding: 4px;
	position: relative;
	z-index: 2;
	background-color: pink;
}

.testimonial-thumbs::after,
.testimonial-thumbs::before {
	content: '';
	width: 30px;
	position: absolute;
	top: 0;
	height: 100%;
	z-index: 4;
}

.testimonial-thumbs::after {
	left: 0;
	background: rgb(255, 255, 255);
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 0.49670290479473034) 50%,
		rgba(255, 255, 255, 0) 100%
	);
}

.testimonial-thumbs::before {
	right: 0;
	background: rgb(255, 255, 255);
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.49670290479473034) 50%,
		rgba(255, 255, 255, 1) 100%
	);
}

.testimonial-thumbs .testimonial-pic img {
	background-color: #f55f8d;
}

.testimonial-thumbs .shape-bx {
	position: absolute;
	width: 50%;
	height: 15%;
	background: #f55f8d url(../image/pattern12.png) center no-repeat;
	transform: translate(50%, -15px);
	opacity: 0;
	transition: all 0.75s;
}

.testimonial-thumbs .shape-bx::after {
	content: '';
	position: absolute;
	bottom: -100%;
	left: 50%;
	transform: translateX(-50%);
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #f55f8d;
	opacity: 1;
}

.testimonial-thumbs .shape-bx::before {
	content: '';
	position: absolute;
	bottom: -200%;
	left: 50%;
	transform: translateX(-50%);
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #f55f8d;
	opacity: 1;
}

.testimonial-comment {
	min-height: 300px;
	width: 100%;
}
.testimonial-comment .swiper-wrapper {
	padding-bottom: 20px;
}
.testimonial-thumbs .testimonial-pic {
	padding: 30px 0 0;
	transition: all 0.5s;
}
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
	padding: 0 0 40px;
}

.testimonial-text {
	position: relative;
	padding: 30px;
	margin: 0 auto;
	text-align: center;
	box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
	border-radius: 10px;
	background-color: #fff;
	max-width: 770px;
}

.testimonial-name {
	display: block;
	font-size: 22px;
	font-weight: 800;
	color: #000;
	line-height: 26px;
	margin-bottom: 5px;
}

.testimonial-position {
	font-style: italic;
	font-size: 18px;
	color: #f55f8d;
	margin-bottom: 20px;
	padding: 0;
}

.testimonial-text p {
	font-size: 18px;
	font-weight: 400;
	font-style: italic;
	padding: 0 15px 15px;
	margin-top: 30px;
}

.testimonial-text i {
	position: absolute;
	top: 10px;
	left: 30px;
	font-size: 70px;
	color: #f55f8d;
	transform: rotate(-180deg);
}

.swiper-pagination {
	position: relative;
}

.swiper-pagination-bullet-active {
	background-color: #f55f8d;
}

.swiper-slide-thumb-active .shape-bx {
	opacity: 1;
}

.item {
	display: flex;
	align-items: center;
	justify-content: center;
}

.blog {
	background: url('../image/bg16.png') center / cover no-repeat;
}

.blog__content .box__title--primary {
	text-align: center;
}

.blog__list {
	display: flex;
	margin-top: 20px;
}

.blog__item {
	margin: 15px;
	list-style-type: none;
	border-radius: 12px;
	background: #feeff3;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	cursor: grab;
}

.blog__item-header img {
	width: 100%;
	height: 100%;
	border-radius: 12px;
}

.blog__item-body {
	position: relative;
	padding: 30px 15px;
}

.blog__item-date {
	color: #fff;
	position: absolute;
	top: -10%;
	left: 15px;
	text-transform: uppercase;
	background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%)
		left / 200%;
	border-radius: 6px;
	padding: 10px 20px;
	font-size: 14px;
}

.blog__item-body h3 {
	color: #000;
	font-size: 24px;
}

.blog__item-body p {
	color: #636363;
	font-size: 16px;
	font-weight: 400;
}

.blog__item-footer {
	display: flex;
	justify-content: start;
	align-items: center;
	padding: 15px;
	border-top: 1px solid rgba(5, 5, 5, 0.05);
	text-transform: uppercase;
}

.blog__item-footer i {
	color: #f55f8d;
	font-size: 22px;
	margin-right: 8px;
}

.blog__item-footer span {
	display: flex;
	align-items: center;
	margin-right: 24px;
}

.blog__item-footer p {
	color: #f55f8d;
}

footer {
	background: url(../image/bg4.png) center / contain no-repeat;
	display: block;
	background-color: #0e1b1f;
	position: relative;
	height: 700px;
}

footer::before {
	content: '';
	position: absolute;
	background: url(../image/pattern2.png) left top / contain no-repeat;
	top: 0;
	left: 0;
	width: 100%;
	height: 30%;
}

.subscribe {
	display: flex;
	position: relative;
	padding: 50px 60px;
	margin-top: 50px;
	border-radius: 10px;
	box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
	background: #fff url(../image/pattern3.png) bottom / 100% no-repeat;
}

.subscribe span {
	width: 50%;
	font-size: 28px;
	color: #262626;
	font-weight: 600;
}

.subscribe form {
	display: flex;
	width: 50%;
	overflow: hidden;
}

.subscribe form input {
	flex: 1;
	padding: 20px 20px;
	font-size: 15px;
	font-weight: 400;
	color: #888;
	background: #fff;
	border-radius: 5px 0 0 5px;
	border: 1px solid #fff;
	outline: 0;
	transition: all 0.5s;
}

.subscribe form input:hover {
	border: 1px solid #f55f8d;
}

.subscribe button {
	color: #fff;
	width: 96px;
	height: 68px;
	border-radius: 0 5px 5px 0;
	background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%)
		left center / 200%;
	outline: 0;
	border: none;
	transition: all 0.3s;
	cursor: pointer;
}

.subscribe button i {
	font-size: 26px;
}

.subscribe button:hover {
	background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%)
		right center / 200%;
}

.subscribe button:hover i {
	display: inline-block;
	animation: toRight 1s forwards;
}

@keyframes toRight {
	49% {
		transform: translateX(100%);
	}

	50% {
		opacity: 0;
		transform: translateX(-100%);
	}
	51% {
		opacity: 1;
	}
}

.footer__content {
	display: flex;
	margin-top: 70px;
}

.contact__info {
	width: 25%;
}

.contact__info img {
	margin-bottom: 16px;
}

.contact__info li {
	color: #fff;
	display: flex;
	align-items: center;
	text-decoration: none;
	margin-bottom: 20px;
}

.contact__info li i {
	height: 40px;
	width: 40px;
	line-height: 40px;
	margin-right: 10px;
	text-align: center;
	background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
	display: block;
	border-radius: 50%;
}

.footer__item {
	width: 25%;
}

.footer__item h3 {
	font-size: 24px;
	font-weight: 700;
	padding-bottom: 10px;
	margin-bottom: 30px;
	position: relative;
	color: #fff;
}

.footer__item h3::before,
.footer__item h3::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 4px;
	border-radius: 20px;
	background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
	background-size: 200%;
}

.footer__item h3::before{
	width: 15px;
}

.footer__item h3::after{
	width: 45px;
	left: 25px;
}

.footer__item li i {
	font-size: 16px;
	margin-right: 10px;
}

.footer__item li {
	list-style: none;
	margin-bottom: 20px;
}

.footer__item li a {
	color: #636363;
	font-size: 16px;
	text-decoration: none;
	transition: all 0.5s;
}

.copy__right {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px 0;
	background: #1f343b;
}

.copy__right-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.copy__right-content span {
	display: flex;
}

.copy__right-content p {
	color: #f55f8d;
	margin-left: 4px;
}

.social {
	display: flex;
}

.social__item {
	display: block;
	color: #fff;
	width: 36px;
	height: 36px;
	margin-right: 8px;
	text-align: center;
	line-height: 36px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.1);
	transition: all 0.75s;
}

.social__item:hover {
	background: #f55f8d;
}

.back_to_top {
	position: fixed;
	right: 15px;
	bottom: 15px;
	width: 52px;
	height: 52px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 12px;
	border: none;
	background: #f55f8d;
	box-shadow: -4px 4px 24px -10px #f55f8d;
	text-decoration: none;
}

.back_to_top i {
	color: #fff;
	font-size: 24px;
}
